# Compiled Python files
__pycache__/
*.pyc
*.pyd
*.pyo

# Virtual environment
venv/
.env/

# Editor-specific files
.idea/                  # IntelliJ IDEA
*.sublime-project       # Sublime Text
*.sublime-workspace
.vscode/                # VS Code

# Operating System files
.DS_Store               # macOS
Thumbs.db               # Windows

# Logs and databases
*.log
*.sqlite3
db.sqlite3

# Distribution and packaging
dist/
build/
*.egg-info/
.eggs/

# Miscellaneous
.pytest_cache/          # pytest cache
.coverage               # coverage.py
htmlcov/                # coverage.py HTML report

# Security
*.pem                  # PEM files
*.key                  # Key files

# My Paths
./client/rsa_keys/
./client/server_public.pem
./client/server_private.pem
./client/client_public.pem
./client/client_private.pem
./server/rsa_keys/
./server/server_public.pem
./server/server_private.pem
./server/client_public.pem
./server/client_private.pem
./usb_device/rsa_keys/
./usb_device/server_public.pem
./usb_device/server_private.pem
./usb_device/client_public.pem
./usb_device/client_private.pem